*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-blue-light: #80d4ff;
  --color-blue-dark:  #0099e6;

  --color-grey-light: #ccc;
  --color-grey-dark:#777;

  --color-black: #000;
  --color-white: #fff;

  --bp-desktop: 1200px;
  --bp-tablet: 900px;
  --bp-mobile: 400px;
}

html{
  font-size: 62.5%;
  font-weight: 400;
  font-family: 'Poppins', 'sans-serif';
}

@media(max-width: 1200px){
  html{
    font-size: 55%;
  }
}

@media(max-width: 900px){
  html{
    font-size: 52.5%;
  }
}

@media(max-width: 600px){
  html{
    font-size: 50%;
  }
}

@media(max-width: 400px){
  html{
    font-size: 47.5%;
  }
}

body {
  min-height: 100vh;
  background-image: 
  linear-gradient(to right, var(--color-white) 30%, var(--color-grey-light));

  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}